{% extends "website/base.html" %}
{% load static %}
{% block title %} Store {% endblock %}

{% block content %}
  <div>
    <form id="filter-form"  class="filter-options">
      <div class="filter-option">
        <label for="category">Category</label>
        <select name="category" id="category">  
          <option value="all">All Categories</option>
          <option value="1">Filter by Medicine</option>
          <option value="2">Filter by Vitamins</option>
        </select>
      </div>
      
      <div class="filter-option">
        <label for="price">Price</label>
        <input type="range" name="price" id="price" class="range-selector" min="0" max="1000" step="50" value="1000">
        <span id="price-span">1000</span>
      </div>
      
      <div class="filter-option">
        <label for="pname">Product Name</label>
        <input type="search" name="pname" id="pname">
      </div>
      
      <div class="filter-action">
        <button  type="submit" class="btn btn-success">Apply Filters</button>
      </div>
    </form>
  </div>
  <div class="row" id="products-container">
    {% for product in products %}
      <div class="col-lg-4 p-5 img-container">
          <img src="{{product.image_url}}" alt="" class="thumbnail">
          <div class="box-element product">
            <h6><strong>{{product.name_en}}</strong></h6>
            <hr>

            <button class="btn btn-outline-secondary add-btn"> Add To Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>${{product.unit_price|floatformat:2}}</strong></h4>
          </div>
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript" src="{% static 'website/js/store.js' %}"></script> 
{% endblock %}